<?xml version="1.0" encoding="utf-8"?>

<jnlp
    spec="$jnlpspec"
	codebase="file://${project.build.directory}/jnlp"
	href="$outputFile"
    >

  <information>

    <title>$jnlpTitle</title>
    <vendor>$jnlpVendor</vendor>
    <homepage href="$jnlpHomepage"/>
    <description>$jnlpDescription</description>

    <offline-allowed/>

  </information>

  <security>
     <all-permissions/>
  </security>

  <resources>

    <j2se
		version="$j2seVersion"
		initial-heap-size="$javaHeapMinimum" max-heap-size="$javaHeapMaximum"
		java-vm-args="$javaArgsString"
    />

     $dependencies

  </resources>

  <application-desc main-class="$mainClass"/>

</jnlp>

